<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<section layout:fragment="content">
<div class="container mt-5">
    <h1>About BookHive</h1>
    <p>Welcome to the BookHive, an application designed to help book lovers manage their books, track their reading progress, and discover new books.</p>

    <h3>Features:</h3>
    <ul>
        <li>Browse and view a collection of available books.</li>
        <li>Save your favorite books in your personal collection (MyBooks).</li>
        <li>Edit or delete books in your collection.</li>
        <li>Admin functionality to manage available books.</li>
    </ul>

    <h3>Contact Information:</h3>
    <p>If you have any questions, feel free to reach out to us at <strong>support@bookhive.com</strong>.</p>

    <hr>

    <h3>Getting Started:</h3>
    <p>To start using the system, simply <a href="/regForm">register</a> or <a href="/loginForm">log in</a> to your account, and start exploring the available books!</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</section>
</html>
